<h1>Edit book <%=@book.title%></h1>

<%= form_for @book do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :available %>
    <%= f.check_box :available %>
  </div>
  
  <%= f.submit "Update Book" %>
<% end %>
